.event-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.inner-event-div{
    width: 100%;
}
.event-logo{
    width: 50%;
}
.heading{
    font-family: "Architects Daughter", cursive;
    font-size: 100px;
}
.event-description{
    font-size: 32px;
    text-align: right;
}
.date-time{
    font-size: 24px;
    text-align: right;
}
.event-table{
    margin-top: 50px;
    width: 100%;
    border: 2px solid white;
    border-collapse: collapse;
}
.event-table th{
   padding: 35px;
   border: 2px solid white;
}
.event-table th:hover{
    background-color: #757BFD;
    cursor: pointer;
}
.event-table th a{
    text-decoration: none;
    color: white;
}

.pro-night-div{
    font-size: 24px;
    margin-top: 20px;
}
.timeline-div{
    font-size: 24px;
    margin-top: 20px;
}



.event-type-select{
    width: max-content;
    display: block;
    margin: 50px auto;
    padding: 20px;
    outline: none;
    border-radius: 20px;
    border: 2px solid white;
    font-size: 16px;
    cursor: pointer;
}
.event-type-description{
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
    width: 100%;
    padding: 40px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 20px;
}
.master-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
}
.event-card-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.event-card{
    width: 30%;
    padding: 50px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    color: white;
    text-align: center;
    cursor: pointer;

}
.event-image{
    width: 100%;
    border-radius: 20px;
    height: 200px;
    margin-bottom: 20px;
}
.event-card-heading{
    font-size: 24px;
    margin-bottom: 20px;
}
.event-card-description{
    font-size: 14px;
    margin-bottom: 40px;
}
.event-card-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.odd-event-card-div{
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 1200px) {
    .inner-div{
        flex-direction: column;
        margin-top: 100px;
    }
    .heading{
        font-size: 70px;
    }
    .event-description{
        font-size: 24px;
    }
    .date-time{
        font-size: 18px;
    }
    .event-table th{
        padding: 20px;
    }
    .event-table th a{
        padding: 20px;
    }
}
@media screen and (max-width: 830px){
    .master-div{
        flex-direction: column;
        gap: 50px;
    }
    .event-card-div{
        flex-direction: column;
        gap: 50px;
    }
    .event-card{
        width: 80%;
    }
    .event-type-description{
        font-size: 16px;
    }
}
  
 
  
@media only screen and (max-width: 800px) {
    .inner-div{
        flex-direction: column;
        margin-top: 100px;
    }
    .heading{
        font-size: 50px;
    }
    .event-description{
        font-size: 20px;
    }
    .date-time{
        font-size: 14px;
    }
    .event-table th{
        padding: 10px 0;
    }
    .event-table th a{
        padding: 0px;
    }

}

@media only screen and (max-width: 600px){
    .inner-div{
        flex-direction: column;
        margin-top: 100px;
    }
    .heading{
        font-size: 30px;
    }
    .event-description{
        font-size: 14px;
    }
    .date-time{
        font-size: 12px;
    }
    .event-table th{
        padding: 10px 0;
    }
    .event-table th a{
        padding: 0px;
    }
}